- var pugTitle= 'Dashboard'
- var pugFooterDashboard= true

include ../partials/header.pug

body
  .row
    .offset-md-4.col-md-4.alignDashboard
      .dashboardContainer
        table
          tr
            th DOGS
            th
            th
            th
            th










include ../partials/footer.pug