include ../partials/header.pug
include ../partials/navbar.pug

div.total
  div.imageSelector
    label(for='exampleFormControlFile1') Select image :
    input#exampleFormControlFile1.form-control-file(type='file')
  div.box
    h4.mb-4 New Droid Boss ?
    div.inputs
      input.mb-4.col-md-8(type='text' placeholder='Name')
      br
      input.mb-4(type='number' placeholder='Number')
      br
      input.mb-4(type='number' placeholder='Selling price')
      br
      input.mb-4(type='number' placeholder='Stock')
      br
    form
      textarea(rows='3' placeholder='Message')
      div.btns
        button.btn.btn-secondary(type='submit') Cancel
        button.btn.btn-info(type='submit') Add


include ../partials/footer.pug