include ../partials/header.pug

.wrapper.fadeInDown
  #formContent
    .fadeIn.first
      img#icon.Droid4You(src='./img/Droid4You.png' alt='User Icon')
    form(action='./index.html')
      input#login.reset-password(type='text' name='lost-password' placeholder='Adresse email')
      .reset-br-overlol
        input#password(type='text' name='login' placeholder='Mot de passe')
      input.fadeIn.fourth(type='submit' value='Envoyer un email')
    #formFooter
      .reset-br-overlol
        a.underlineHover(href='./lost-password.html') invisible

