<!DOCTYPE html>
<html lang="en">

  head
    <meta charset="UTF-8">
    <meta name="description" content="login page">
    link(rel="stylesheet", href="style.css")
    title= resetPassword
    
  body
.wrapper.fadeInDown
  #formContent
    // Tabs Titles
    // Icon
    .fadeIn.first
      img#icon.Droid4You(src='./img/Droid4You.png' alt='User Icon')
    // Login Form
    form(action='./login.html')
      input#login.reset-password(type='text' name='lost-password' placeholder='Adresse email')
      .reset-br-overlol
        input#password(type='text' name='login' placeholder='Mot de passe')
      input.fadeIn.fourth(type='submit' value='Envoyer un email')
    #formFooter
      .reset-br-overlol
        a.underlineHover(href='./lost-password.html') invisible

