.box {
    align-items: right;
    background-color: lightslategrey;
    border: black solid 2px;
    box-sizing: content-box;   
    padding: 10px;
    margin: 1px;
    text-align: center;
    width: 20%;
}

.inputs {
    justify-content: center;
}

.image {
    border: black solid 2px;
    width: auto;
    height: 500px;
    margin: 1px;
}

.total {
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.imageSelector {
    float: left;
}
